.ton-checkbox {
  margin-right: 3px;
  margin-top: 3px;
}

.ton-expander {
  margin: 0;
}

.ton-node {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  height: 34px;
}

.ton-label {
  height: 34px;
}

.ton-label-span {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ton-rename-holder {
  width: 100%;
}

.ton-rename {
  line-height: 0.75rem;
  border: 1px dotted black;
  width: 100%;
  min-width: 0;
}

.ton-child {
  margin-left: 16px;
  display: block;
  opacity: 1;
  transition: opacity 0.6s linear;
}

.ton-collapsible-wrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}
.ton-collapsible-wrapper:after {
  content: "";
  height: 20px;
  transition:
    height 0.3s linear,
    max-height 0s 0.3s linear;
  max-height: 0px;
}
.ton-collapsible {
  transition: margin-bottom 0.3s cubic-bezier(0, 0, 0, 1);
  margin-bottom: 0;
  max-height: 10000px;
  width: 100%;
}
.ton-collapsible-wrapper.collapsed > .ton-collapsible {
  margin-bottom: -2000px;
  transition:
    margin-bottom 0.3s cubic-bezier(1, 0, 1, 1),
    visibility 0s 0.3s,
    max-height 0s 0.3s;
  visibility: hidden;
  max-height: 0;
}
.ton-collapsible-wrapper.collapsed:after {
  height: 0;
  transition: height 0.3s linear;
  max-height: 20px;
}
.ton-collapsible-wrapper.collapsed {
  visibility: hidden;
}
.ton-collapsible-wrapper.collapsed .ton-child {
  opacity: 0;
  transition: opacity 0.6s linear;
}
